.sidebar-component {
  padding: 5px 0 5px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  width: fit-content;
}

.sidebar-component:hover {
  background-color: #1b2740 !important;
  border-radius: 30px;
  transition: color 100ms ease-out;
}

.sidebar-component:hover > * {
  color: var(--global-color) !important;
}

.sidebar-component:hover .sidebar-icon .icon[style] {
  /*over riding inline style*/
  color: var(--global-color) !important;
}

.icon-name {
  margin: 0;
  padding: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 1.3em;
}
